<html>
<head> 
    <h1> <ul>calculator</ul></h1>
     
</head>

<body>
<form action ="/result" method="post">
   
    <label for="num1">enter first number:<\label>

<input type="number" Id="num1" name="num1"><br>
<label for="num2">enter second number<\label>
<input type="number" Id="num2" name="num2"><br>
    <b><ul>select your operation</ul></b><br>
    <input type="radio" value="addition" name="operation">addition<br>
    <input type="radio" value="subtracton" name="operation">subtraction<br>
    <input type="radio" value="multiplication" name="operation">multiplication<br>
    <input type="radio" value="division" name="operation">division<br>
    <input type="submit" value="submit">
</form>
</body>
</html>